// uncomment to use pico css
// @import '@picocss/pico/css/pico.css';

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@700&display=swap');

$btn-color: #4D5B9E;
$clicked-color: #D6DBF5;
$correct-color: #94D7A2;
$incorrect-color: #F8BCBC;
$text-color: #293264;
$background-color: #F5F7FB;
$root-color: #1C1C1C;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: $text-color;
    @include center;
    background-color: $root-color;
}

.App {
    width: 550px;
    height: 550px;
    background-color: $background-color;
    @include center();
    position: relative;
    
    background-image: url('../img/top-right-blob.png'), url('../img/bottom-left-blob.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;

    // .top-blob {
    //     background: url('../img/top-right-blob.png');
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     width: 155px;
    //     height: 135px;
    //     z-index: -1;
    // }

    // .bottom-blob {
    //     background: url('../img/bottom-left-blob.png');
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 145px;
    //     height: 120px;
    //     z-index: -1;
    // }

    .StartPage {
        @include center();
        flex-direction: column;
        margin: 70px;

        h1 {
            font-family: 'Karla', sans-serif;
        }

        span {
            margin-bottom: 30px;
        }

        button {
            width: 180px;
            height: 50px;
            border-radius: 15px;
            color: $background-color;
            background-color: $btn-color;
            border: none;
            outline: none;
            box-shadow: none;
            font-size: 1rem;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
        }
    }

    .GamePage {
        display: flex;
        flex-direction: column;
        margin: 20px 60px;
        text-align: left;

        .Question {
            font-family: 'Karla', sans-serif;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            h5 {
                margin: 0;
            }

            .answers {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                font-size: 0.8rem;

                .Answer {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    border: 0.8px solid $btn-color;
                    border-radius: 8px;
                    padding: 3px 12px;
                    box-sizing: border-box;
                    cursor: pointer;
                    text-align: center;
                    align-items: center;
                    margin: 0 5px;
                    min-width: 100px;
                    font-size: 0.65rem;
                    justify-content: center;
                  }
              }

            hr {
                width: 100%;
                border: 0.8px solid $clicked-color;
            }
        }

        button {
            width: 160px;
            height: 40px;
            border-radius: 15px;
            color: $background-color;
            background-color: $btn-color;
            border: none;
            outline: none;
            box-shadow: none;
            font-size: 0.75rem;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
            margin: auto;
        }
    }
}